@font-face {
  font-family: 'Chicago';
  src:  url('./fonts/sysfont.woff2') format('woff2'),
        url('./fonts/sysfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geneva';
  /* src: url('./fonts/FindersKeepers.ttf'); */
  src:  url('./fonts/Jeniva-Regular.woff2') format('woff2'),
        url('./fonts/Jeniva-Regular.woff') format('woff');
}

:root {
  font-family: 'Geneva', monospace;
  color: black;
  /* -moz-osx-font-smoothing: none;
    -webkit-font-smoothing: none;
    font-smooth: never; */
  --border-width: 2px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  backface-visibility: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: .5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

canvas {
  display: block;
  width: 123px;
  max-width: 100%;
  /* margin: 1rem auto; */
  border: var(--border-width) solid black;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.canvas-and-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#preview {
  border: var(--border-width) solid currentColor;
  border-radius: 8px;
  width: 168px;
  height: 123px;
  background-size: 32px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr;
}

#preview>header {
  background-color: white;
  border-bottom: var(--border-width) solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  display: grid;
  height: 19px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.preview-button {
  appearance: none;
  border: none;
  background: none;
  padding: 2px;
  /* height: 19px; */
  height: 100%;
  background-repeat: none;
  flex: auto 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-button:active {
  color: unset;
}

.preview-button svg {
  height: 100%;
}

.preview-button img {
  max-height: 100%;
}

/* #left {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 0.87 1" preserveAspectRatio="xMidYMid" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M0.87,0 L0,0.5 L0.87,1 Z" /></svg>')
}

#right {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 0.87 1" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M0,0 L0.87,0.5 L0,1 Z" /></svg>');
} */

#preview-body {
  /* background-size: 32px; */
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  flex-grow: 1;
}

.window {
  max-width: 28rem;
  margin: 0 auto;
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 0 0 black;
}

.window :first-child {
  /* margin-block-start: 0; */
}

.window :last-child {
  /* margin-block-end: 0; */
}

main.window > section {
  margin: 1rem;
}

.title-bar h1 {
  display: inline-block;
  font-size: 70%;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: .1em .5em 0;
  margin: 0 2rem;
  background-color: white;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.title-bar {
  background-image: url("./racing-stripes.svg");
  background-size: 100% auto;
  height: 28.5px;
  font-family: 'Chicago';
  font-size: 28.5px;

  /* padding: .1rem; */
  border-bottom: 2px solid black;
  display: grid;
  /* grid-template-columns: auto 1fr auto; */
  justify-content: center;
  gap: .25rem;
}

/* main>header::before {
  box-sizing: border-box;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='100px' height='24px' viewBox='0 0 50 12' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg style='fill:none;stroke:black;stroke-width:1px;' stroke-linecap='butt'%3E%3Cpath d='M0,1 L4,1' /%3E%3Cpath d='M0,3 L4,3'/%3E%3Cpath d='M0,5 L4,5'/%3E%3Cpath d='M0,7 L4,7'/%3E%3Cpath d='M0,9 L4,9'/%3E%3Cpath d='M0,11 L4,11'/%3E%3Crect x='5.5' y='1' width='10' height = '10' /%3E%3Cpath d='M17,1 L50,1' /%3E%3Cpath d='M17,3 L50,3'/%3E%3Cpath d='M17,5 L50,5'/%3E%3Cpath d='M17,7 L50,7'/%3E%3Cpath d='M17,9 L50,9'/%3E%3Cpath d='M17,11 L50,11'/%3E%3C/g%3E%3C/svg%3E");
  background-position: left center;
  background-size: cover;
  display: inline-block;
  height: 1.25em;
  width: 4em;
  vertical-align: middle;
}

main>header::after {
  box-sizing: border-box;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 12' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg style='fill:none;stroke:black;stroke-width:1px;'%3E%3Cpath d='M0,1 L100,1' /%3E%3Cpath d='M0,3 L100,3'/%3E%3Cpath d='M0,5 L100,5'/%3E%3Cpath d='M0,7 L100,7'/%3E%3Cpath d='M0,9 L100,9'/%3E%3Cpath d='M0,11 L100,11'/%3E%3C/g%3E%3C/svg%3E");
  background-position: right center;
  background-size: cover;
  display: inline-block;
  height: 1.25em;
  width: 4em;
  vertical-align: middle;
} */

footer {
  margin-top: auto;
  text-align: right;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

small {
  background-color: white;
  /* color: white; */
  /* box-shadow: .1rem .1rem #777; */
  padding: .25em .3em;
  width: 100%;
  filter: invert(100%);
}

button,
a.button {
  appearance: none;
  border-radius: 4px;
  border: 2px solid black;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: inherit;
  font-family: 'Chicago';
  padding: .2em .2em;
  display: inline-block;
  margin: 0;
  cursor: default;
}

button:active,
a.button:active {
  background-color: black;
  color: white;
  /* border: none; */
}

input[type=color] {
  appearance: none;
  border: 2px solid black;
  padding: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border-radius: 0;
}

::-moz-color-swatch {
  border: none;
}