@font-face {
  font-family: 'Chicago';
  src:  url('./fonts/sysfont.woff2') format('woff2'),
        url('./fonts/sysfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geneva';
  src:  url('./fonts/Jeniva-Regular.woff2') format('woff2'),
        url('./fonts/Jeniva-Regular.woff') format('woff');
}

:root {
  font-family: 'Geneva', monospace;
  color: black;
  --border-width: 2px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  backface-visibility: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: .5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

canvas {
  display: block;
  width: 123px;
  max-width: 100%;
  border: var(--border-width) solid black;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.canvas-and-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#preview {
  border: var(--border-width) solid currentColor;
  border-radius: 8px;
  width: 168px;
  height: 123px;
  background-size: 32px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr;
}

#preview>header {
  background-color: white;
  border-bottom: var(--border-width) solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  display: grid;
  height: 19px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.preview-button {
  appearance: none;
  border: none;
  background: none;
  padding: 2px;
  /* height: 19px; */
  height: 100%;
  background-repeat: none;
  flex: auto 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-button:active {
  color: unset;
}

.preview-button svg {
  height: 100%;
}

.preview-button img {
  max-height: 100%;
}

#preview-body {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  flex-grow: 1;
}

.window {
  max-width: 28rem;
  margin: 0 auto;
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 0 0 black;
}

main.window > section {
  margin: 1rem;
}

.title-bar h1 {
  display: inline-block;
  font-size: 70%;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: .1em .5em 0;
  margin: 0 2rem;
  background-color: white;
}

.title-bar {
  background-image: url("./racing-stripes.svg");
  background-size: 100% auto;
  height: 28.5px;
  font-family: 'Chicago';
  font-size: 28.5px;

  border-bottom: 2px solid black;
  display: grid;
  justify-content: center;
  gap: .25rem;
}

footer {
  margin-top: auto;
  text-align: right;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

small {
  background-color: white;
  padding: .25em .3em;
  width: 100%;
  filter: invert(100%);
}

button,
a.button {
  appearance: none;
  border-radius: 4px;
  border: 2px solid black;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: inherit;
  font-family: 'Chicago';
  padding: .2em .2em;
  display: inline-block;
  margin: 0;
  cursor: default;
}

button:active,
a.button:active {
  background-color: black;
  color: white;
}

input[type=color] {
  appearance: none;
  border: 2px solid black;
  padding: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border-radius: 0;
}

::-moz-color-swatch {
  border: none;
}